<!DOCTYPE html>
	<head>
		<title>aesthete | your new artist portfolio</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock+Salt">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

		<link rel="stylesheet" href="/css/animations.css">
		<link rel="stylesheet" href="/css/menubar.css">
		<link rel="stylesheet" href="/css/tags.css">
		
	</head>
	<body>
		<div id="menubar">
			<div id="logowrap"> aesthete </div>
			<div id="controlwrap">
			
			<form method="post" action="/search">
			<input type="text" name="query" placeholder="Search">
			<button type="submit"><img src="/icons/magnifier.png" width="10"></button></form>

			<a href="/feed">
		    <div class="menubutton" id="homenav"> home </div> </a>

		    <a href="/profile">
		    <div class="menubutton"> profile </div> </a>

		    <a href="/logout">
		    <div class="menubutton"> logout </div> </a>
			</div>
	  	</div>

	
	  	
	  	<div class="ppfeed">
	  		<div id="header">Posts tagged as #{{tag}}</div> <br>
			<div class="ppfeedcont">
				
				<!-- POSTS -->
			
			{{#each posts}}

				<a href="/post/{{_id}}">
				<div class="feedthumbs">
					<img src="/posts/{{image}}" width="100%" height="100%">
				</div>
				</a>
				
				
			{{/each}}

		</div>

	</body>

</html>